/* game頁面內容 */
.articleline-style{
    width: 100%;
    height: 1px;
    border-bottom: 5px rgb(170,162,143) dotted;
}

.article-title{
    left: 0;
    margin-bottom: 10px;
}

.story{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;
}

.story-left{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.story-stone{
    margin-left: 1em;
}
.story-left-img{
   
}

.story-word{
    width: 75%;
    height: 8em;
    color:#4F4532;
    line-height: 150%;
    text-align:justify;
    margin-left: 1em;
    margin-top: 20px;
}

.story-word strong{
    font-size: 115%;
}

.things{
    margin-top: 1em;
    margin-bottom: 1em;
}

.thingspicture-row1{
    display: flex;
    height: 200px;
    justify-content: space-around;
}

.thingspicture-row2{
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.thingspicture-row3{
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.showword {
    position: relative;
}
.img1{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img3{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img4{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img5{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img6{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img7{
    opacity: 0;
    transform: translate(-10%,-10%);
    width:32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img8{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img9{
    opacity: 0;
    transform: translate(-10%,-10%);
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    display: block;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    /* width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(107, 79, 19, 0.747);
    border-radius: 3px;
    /* border:3px #4F4532 dotted; */
}
  
.showword:hover .overlay {
    opacity: 1;
}
.showword img{
    height: 180px;
}
  
.text {
    /* background-color: #4F4532; */
    color:white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow:2px #4F4532;
}

.playing{
    margin-top: 1em;
}

.howtoplay-layout{
    display: flex;
    color:#4F4532;
    flex-direction: column;
    margin-left: 1em;
}

.standby{
    display: flex;
    justify-content: center;
}

.standbyword{
    line-height: 150%;
    display: flex;
}

.standbyimg{
    margin-left: 5%;
    margin-right: 5%;
    transform:scale(1,1);
    transition: all .5s ease-out;
}

.standbyimg:hover{
    transform:scale(1.3,1.3);
}

.standbyimg:hover .standbyword{
    position: fixed;
}

.howtoplaybox-layout{
    display: flex;
    justify-content: space-around;
}

.howtoplaybox{
    width: 30%;
    border-radius: 5px;
    background:rgb(170,162,143) url(../img/img02.jpg) repeat;
    padding: 0 2em 0 1em;
    text-align: justify;
}

.howtoplaybox ul{
    line-height: 150%;
}
.howtoplaybox li{
    margin-top: 5px;
}

.howtoplayarrow{
    width: 4%;
    display: flex;
    align-items: center;
}

.howtoplayarrowback{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.howtoplayboxend{
    display: flex;
    justify-content: center;
}

.other ol{
    list-style: lower-alpha;
}

.other-layout{
    margin-left: 5%;
    margin-right: 5%;
}

.energy{
    display: flex;
    align-items: center;
    height: 300px;
    /* background-color: aquamarine; */
    /* width: 80%; */
}

.energyword{
    /* background: rgb(243,235,205); */
    line-height: 150%;
    margin-left: 5%;
}

.collect{
    display: flex;
    align-items: center;
    height: 180px;
    /* background-color:#82817f; */
}

.collect img{
    margin-left: 5%;
}

.collectword{
    /* background: rgb(243,235,205); */
    line-height: 150%;
}

.stopping{
    display: flex;
    align-items: center;
    height: 180px;
    /* background-color:#82817f; */
}
.stopping img{
margin-left:5%;
}
.stoppingword{
    /* background: rgb(243,235,205); */
    line-height: 150%;
    margin-left:0;
    text-align: justify;
}
.specialrule{
    display: flex;
    align-items: center;
    height: 250px;
    /* background-color: aquamarine; */
    /* width: 80%; */
    margin-bottom: 2%;
}

.specialruleword{
    /* background: rgb(243,235,205); */
    line-height: 150%;
    margin-left: 5%;
}

#gotop {
    position: fixed;
    border-radius: 50px;
    right: 50px;
    bottom: 100px;
    padding: 10px 16px;
    font-size: 25px;
    background: rgba(153, 112, 73, 0.9);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
}

/* game頁面內容結束 */
@media (max-width:900px){
    .story-word{
        width: 75%;
        height: 10em;
        margin-left: 1em;
        margin-top: 20px;
    }
}
